html.js #alternative-frontpage-set-home-wrapper label {
  padding-right: 18px;
  cursor: pointer;
  color: #1468b3;
}

html.js #alternative-frontpage-set-home-wrapper label:hover {
  text-decoration: underline;
}

html.js #alternative-frontpage-set-home-wrapper input,
html.js #alternative-frontpage-set-home-wrapper input[checked] + label {
  display: none;
}
